<div class="container">
  <div class = "row" >
    <h2>商品詳細</h2>
  </div>
</div>
  
<div class = "container">
  <div class "row" >
    <div class="col-md-2">
      <div>
        <%= image_tag @item.get_image(100,70) %>
      </div>
    </div>

    <div class="col-md-7 offset-md-1">
      <p class = "mr-2"></p>商品名<%= @item.name %>
      <p>商品説明
      <%= @item.introduction %></p>
      
     <p>ジャンル
      <%= @item.genre.name %></p>
  
      <p>税込価格<br>
      （税抜価格）
        <%= (@item.price * 1.1).floor %> ( <%= @item.price %>) 円</p>
  
      <%= link_to edit_admin_item_path(@item) do %>
         <button type="button" class="btn btn-success text-md-block">編集する</button>
　    <% end %>
　   </div>
</div>