<div class = "container">
  <div class = "row">
    <div class = "col-md-1"></div>
    <h4 class = "bg-light text-center w-25 my-4 ">管理者ログイン</h4>
  </div>
<div class = "row">
  <div class = "col-md-2"></div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table>
              <tr>
              <th class = "font-weight-normal pr-5"><%= f.label :email, "メールアドレス" %></th>
                  <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
              </tr>

              <tr>
                <th class = "font-weight-normal pr-5">
                <%= f.label :password, "パスワード" %></th>
                <td><%= f.password_field :password, autocomplete: "current-password" %></td>
              </tr>

               <tr>
                <th class = "font-weight-normal pr-5"></th>
              <td><%= f.submit "ログイン", class: "btn btn-primary px-5 my-4"  %></td>
              </tr>
            </table>
            <% end %>
</div>
</div>
          <%= render "admin/shared/links" %>





