

          <h2 class = "px-4 bg-light">管理者ログイン</h2>
   

  

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table class = "mx-auto admin-log_in">
            <thead>
              <th></th>
              <th></th>
              <th></th>
            </thead>

            <tbody>
              <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
                <td></td>
                  <td><%= f.email_field :email, autofocus: true, autocomplete: "email"%></td>
              </tr>

              <tr>
                <td>
                <%= f.label :password, "パスワード" %></td>
                <td></td>
                <td><%= f.password_field :password, autocomplete: "current-password"%></td>
              </tr>

               <tr>
                <td></td>
              <td><%= f.submit "ログイン", class: "btn btn-primary px-5 mt-10"  %></td>
              </tr>
             </tbody>
            </table>
            <% end %>


          <%= render "admin/shared/links" %>





