<h2><%= customer.last_name + customer.first_name%>さんの会員情報編集</h2>

<%= form_with model: @customer do |f| %>

  <p>会員ID</p>
  <%= customer.id %>

<div class = "field">
  <a>氏名</a>
 <%= f.text_field :last_name %> <%= f.text_field :first_name %>
</div>

  <div class = "field">
    <a>フリガナ</a>
     <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %>
  </div>

  <div class = "field">
    <p>郵便番号</p>
      <%= f.text_field :postal_code %>
  </div>
  
  <div class = "field">
    <a>住所</a>
     <%= f.text_field :address %>
  </div>
  
  <div class = "field">
    <a>電話番号</a>
     <%= f.text_field :telephone_number %>
  </div>
  
  <div class = "field">
    <a>メールアドレス</a>
     <%= f.text_field :email %>
  </div>

  <div class ="actions">
    <%= f.submit '変更を保存' %>
  </div>

<% end %>


