<div class = "container">
  <div class = "row">
    <div class = "col-md-1"></div>
    <h4 class = "col-md-3 bg-light text-center my-4 ">注文履歴詳細</h4>
  </div>

  <div class = "row">
    <div class = "col-md-7">
      <h5 class ="font-weight-bold">注文情報</h5>
        <table class="table table-bordered">
          <tr>
            <th class = "thead-light font-weight-normal">注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th class = "thead-light font-weight-normal pt-4">配送先</th>
            <td>〒<%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></td>
          </tr>
          <tr>
            <th class = "thead-light font-weight-normal">支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
        </table>
    </div>

    <div class = "col-md-5">
      <h5 class ="font-weight-bold">請求情報</h5>
      <table class="table table-bordered">
        <tr>
          <th class = "thead-light font-weight-normal">商品合計</th>
          <td><%= (@order.total_payment.to_i - 800).to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class = "thead-light font-weight-normal">配送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <th class = "thead-light font-weight-bold">ご請求額</th>
          <td><%= @order.total_payment.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-10">
    <h5 class ="font-weight-bold">注文内容</h5>
      <table class="table table-bordered">
        <thead class ="thead-light">
          <tr>
            <th class="col-md-5">商品</th>
            <th class="col-md-2">単価（税込）</th>
            <th class="col-md-1">個数</th>
            <th class="col-md-1">小計</th>
          </tr>
        </thead>

        <tbody>
      <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.item.price * 1.1).floor %> </td>
            <td><%= order_detail.amount %></td>
            <td><%= (order_detail.item.with_tax_price * order_detail.amount).to_s(:delimited) %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>