<div class = "container">
    <div class = "row">
      <div class = "col-md-1"></div>
      <h4 class = "px-4 bg-light text-center my-4 ">ログイン</h4>
    </div>
    <div class = "row">
      <div class = "col-md-2"></div>
        <h4 class = "px-4 bg-light my-4 ">会員の方はこちらからログイン</h4>
      </div>
    <div class = "row">
      <div class = "col-md-3"></div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
          <tr>
            <th class= "px-5 font-weight-normal"><%= f.label :email, "メールアドレス" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email"%></td>
          </tr>

          <tr>
            <th class= "px-5 font-weight-normal"><%= f.label :password, "パスワード" %></th>
            <td><%= f.password_field :password, autocomplete: "current-password"%></td>
          </tr>

          <tr>
            <th></th>
            <td><%= f.submit "ログイン", class: "btn btn-primary px-5 mt-4 mb-4"  %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    </div>

    <div class = "row">
    <div class = "col-md-2"></div>
    <h4 class = "px-4 bg-light text-center my-4 ">会員登録がお済みでない方</h4>
    </div>
     <div class = "row mb-5">
    <div class = "col-md-3"></div>
    <a href="/customers/sign_up">こちら</a>から新規登録を行ってください。
    </div>
</div>

