<div class = "container">
  <div class ="row d-flex mt-5" >
    <div class = "w-25">
      <div>
        <%= image_tag @item.get_image(100,70) %>
      </div>
    </div>

    <div>
      <h4 class = "mr-2 font-weight-bold"><%= @item.name %></h4>
      <p><%= @item.introduction %></p>

      <p class ="font-weight-bold">￥<%= (@item.price * 1.1).floor.to_s(:delimited) %> (税込）</p>

      <% if customer_signed_in? %>
        <%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
    　　    <%= f.select :amount, *[1..10], { include_blank: '個数選択'} %>
    　     <span><%= f.submit 'カートに入れる', class:"btn btn-success m-3 " %></span>
        <% end %>
      <% end %>
　</div>
</div>
</div>